<div class="col-lg-12" ng-app="angularjs-starter" ng-controller="jobCtrl">    
    <div class="modal fade" id="myModal" role="dialog" ng-controller="uploadCtrl" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><i class="fa fa-cloud-upload"></i>Upload File JAR</h4>
                </div>
                <div class="modal-body">
                  <input type="file" nv-file-select="" uploader="uploader" />
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                                    <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                                    <span ng-show="item.isError"><i class="fa fa-times"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="fa fa-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="fa fa-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-dismiss="modal">OK</button>
                  <!--<button type="button" class="btn btn-success" ng-click="item.upload()" data-dismiss="modal">Upload</button>-->
                </div>
           </div>
       </div>
  </div>
    
  <div class="col-md-12 clear-padding">
    <div class="panel-baciro" style="min-height: 510px">
	    <div class="col-md-6">
            
	      <h3 style="padding: 5px 5px 10px 25px;">Submit Job</h3>
	      <form name="regForm" ng-submit="AddJob()">
				<div class="baciro-input-line">
					<div class="col-md-3">
						Type
					</div>
					<div class="col-md-9">
						<select ng-model="memberJob.role" ng-init="memberJob.role = 'MR2'" class="baciro-input-select">
							<option value="MR2">MR2</option>
							<option value="Spark">Spark</option>
                            <option value="Tez">Tez</option>
						</select>
					</div>
				</div>
               <div class="baciro-input-line">
					<div class="col-md-3">
						Package
					</div>
					<div class="col-md-9">
						<input class="baciro-input" type="text" ng-model="memberJob.package" name="Package" placeholder="Package" /> 
					</div>
				</div>
               <div class="baciro-input-line">
					<div class="col-md-3">
						Class Name
					</div>
					<div class="col-md-9">
						<input class="baciro-input" type="text" ng-model="memberJob.className" name="Class Name" placeholder="Class Name" required /> 
					</div>
				</div>
				<div class="baciro-input-line">
                    <div class="col-md-3">
					</div>
                    <div class="col-md-9">
                        <label class="radio-inline">
                          <input type="radio" ng-model="memberJob.radio" class="optradio" id="optradio" name="optradio" value="inventory">Inventory 
                        </label>
                        <label class="radio-inline">
                          <input type="radio" ng-model="memberJob.radio" name="optradio" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Upload
                        </label>
                    </div>
              </div>
              <div class="baciro-input-line">
                    <div class="col-md-3">
						List Inventory
					</div>
                    <div class="col-sm-4">
                        <select id="list_inventory" name="list_inventory" ng-model="memberJob.iventory" ></select>
                    </div>
                </div>

			  <div class="baciro-input-line" data-ng-repeat="memberJob in choices">       
                  <div class="col-md-3">
                      Parameter
                    </div>
				  
                  <div class="col-md-7">
                     <input type="text" ng-selected="setArgs()" class="member-job" ng-class="class-member-job" id="memberJob.id" ng-model="memberJob.parameter" placeholder="Parameter">
                     <span class="min-link" class="removefields"><a ng-show="$last" ng-click="removeChoice()" title="Remove Parameter"><i class="fa fa-times"></i></a></span>
                  </div>
                  
                  <div class="col-md-2">
                     <span class="plus-link"><a ng-show="$last" class="addfields" ng-click="addNewChoice()" title="Add New Parameter"><i class="fa fa-plus-circle"></i></a></span> 
                  </div>  
              </div>


              
			  <input type="text" id="id-args" ng-model="memberJob.args" readonly="" hidden="">
			  
              <div class="baciro-input-line">
					<div class="col-md-3">
						Cluster
					</div>
					<div class="col-md-9">
						<input class="baciro-input" type="text" ng-model="memberJob.cluster" name="cluster" placeholder="http://[ozie-server-ip:port]/ozie" /> 
					</div>
				</div>
				<div class="baciro-input-line">
					<div class="col-md-3">
						<button type="submit" class="baciro-button-alert" ng-click="submitted=true">Submit</button>
					</div>
					<div class="col-md-3" style="padding-left: 0px;padding-right: 30px;">
						<button type="button" class="baciro-button-grey" ng-click="reset()">Reset</button>
					</div>
				</div>
		  </form>
	    </div>
    </div>      
  </div>
</div>
